/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset buttons */
button {
  background: none;
  border: 0 none;
  outline: 0 none;
  color: unset;
  cursor: pointer;
}

/* Remove default padding */
button,
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  /* text-rendering: optimizeSpeed; */
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements get default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  color: inherit;
}

/* Make images easier to work with */
img,
svg,
video,
audio {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border: 0 none;
  outline: 0 none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* section,
p {
  hyphens: auto;
} */

p {
  line-height: 1.1em;
}

p + p {
  margin-top: 1.1em;
}

address {
  font-style: unset;
}

html, body {
    height: 100%;
    width: 100vw;
}